.container {
    @apply w-auto max-w-[70vh] h-auto gap-1 p-1 shrink-0 relative flex flex-col items-center justify-center;
    background-color: rgba(0, 0, 0, 0.25);
}

.date {
    @apply absolute text-[#ffffff] text-sm italic;
}

.name {
    @apply p-1 text-white text-2xl font-bold italic;
    background-color: rgba(0, 0, 0, 0.1);
}

.banner {
    @apply w-full h-28;
    background-color: rgba(255, 255, 255, 0.3);
}

.description {
    @apply p-1 text-white text-base;
    background-color: rgba(0, 0, 0, 0.1);
}

.programLogo {
    @apply h-10 gap-1 p-1 flex justify-end;
    background-color: rgba(0, 0, 0, 0.1);
}

.imgLogo {
    @apply size-9 object-contain;
}
